{% extends "base_logout.html" %}
{% block content %}
{% load bootstrap4 %}
<form action="" method="POST">
    <div class="col-md-5 offset-md-3">
        <div class="card">
            <h5 class="card-header">ログイン</h5>
            <div class="card-body text-center">
                {% bootstrap_form form layout='horizontal' %}
                <button type="submit" class="btn btn-primary btn-lg col-5" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />

                {% csrf_token %}
            </div>
            <div class="card-footer bg-transparent">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-primary"><img src="//www.google.com/favicon.ico"/> Googleでログイン</a>
                <a class="card-link" href="{% url 'password_reset' %}">パスワードを忘れた方はこちら</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}