{% extends 'base_logout.html' %}

{% block content %}
{% load bootstrap4 %}
<form method="post">
    <div class="col-md-5 offset-md-3">
        <div class="card">
            <h5 class="card-header">パスワード再設定</h5>
            <div class="card-body text-center">
                {% csrf_token %}
                <p class="card-text">このメールアドレスにパスワード変更メールを送信します。</p>
                {% bootstrap_form form layout='horizontal' %}
                <button type="submit" class="btn btn-success btn-lg col-5" >送信</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}