{% extends 'base_logout.html' %}

{% block title %}パスワード変更完了{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">パスワードを変更しました</h3>
          <div class="alert alert-success" role="alert">
            パスワードの変更に成功しました。新しいパスワードで再ログインしてください。
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">ログイン</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}