{% extends 'base_logout.html' %}

{% block title %}メール送信完了{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">メール送信が完了しました</h3>
          <p>メールを確認し、パスワード変更をしてください。もしメールが届かない場合はスパムフォルダを確認してください。</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">ログイン</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}